.container {
  animation: antiRotate 30s linear infinite;
}

.item {
  animation: rotate 30s linear infinite;
}

@keyframes antiRotate {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
